@media only screen and (min-width: 768px) {
  .main {
    width: 768px;
    margin: auto;
  }
  .main__heading--hidden {
    display: none;
  }
  .main .banner {
    background: #e8f2e7;
    position: relative;
  }
  .main .banner__heading--hidden {
    display: none;
  }
  .main .banner__fig {
    position: relative;
  }
  .main .banner__fig img {
    width: 100%;
    height: 100%;
  }
  .main .banner__text {
    position: absolute;
    bottom: 311px;
    font-size: 26px;
    line-height: 45px;
    color: #000000;
    width: 608px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 78px;
    letter-spacing: -2px;
  }
  .main .banner__text span {
    line-height: 47px;
    letter-spacing: -4px;
  }
  .main .banner__video {
    width: 696px;
    height: 392px;
  }
  .main .banner__video-wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 265px;
    left: 36px;
  }
  .main .shop__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .shop__heading--hidden {
    display: none;
  }
  .main .shop__text {
    position: absolute;
    bottom: 124px;
    font-size: 24.5px;
    line-height: 46px;
    width: 587px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 94px;
    letter-spacing: 1px;
    color: white;
    text-align: justify;
  }
  .main .shop__text--2 {
    position: absolute;
    bottom: 100px;
    font-size: 24.5px;
    line-height: 46px;
    color: #000000;
    width: 587px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 94px;
    text-align: justify;
  }
  .main .shop__figure img {
    width: 100%;
    height: 100%;
  }
  .main .shop__item-fig {
    position: relative;
  }
  .main .shop__item-fig img {
    width: 100%;
    height: 100%;
  }
  .main .shop__item-text__wrapper--1 {
    position: absolute;
    bottom: 86px;
    left: 93px;
    width: 288px;
  }
  .main .shop__item-text--1 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--2 {
    position: absolute;
    bottom: 68px;
    left: 94px;
    width: 584px;
  }
  .main .shop__item-text--2 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--3 {
    position: absolute;
    bottom: 101px;
    left: 94px;
    width: 584px;
  }
  .main .shop__item-text--3 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--4 {
    position: absolute;
    bottom: 82px;
    left: 94px;
    width: 458px;
  }
  .main .shop__item-text--4 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--5 {
    position: absolute;
    bottom: 68px;
    left: 94px;
    width: 574px;
  }
  .main .shop__item-text--5 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--6 {
    position: absolute;
    bottom: 115px;
    left: 94px;
    width: 584px;
  }
  .main .shop__item-text--6 {
    line-height: 45px;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: justify;
  }
  .main .shop .shop-details {
    position: relative;
  }
  .main .shop .shop-details img {
    width: 100%;
    height: 100%;
  }
  .main .shop .shop-details__wrapper {
    width: 507px;
    margin: auto;
    position: absolute;
    bottom: 184px;
    left: 130px;
  }
  .main .shop .shop-details__wrapper--2 {
    width: 507px;
    margin: auto;
    position: absolute;
    bottom: 200px;
    left: 130px;
  }
  .main .shop .shop-details__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 43px;
    color: #e98e82;
    position: relative;
    margin-left: 43px;
    font-family: GothicA1-M;
    letter-spacing: 4px;
  }
  .main .shop .shop-details__heading--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
    color: #e98e82;
    position: relative;
    margin-left: 43px;
    font-family: GothicA1-M;
    letter-spacing: 4px;
    margin-bottom: 18px;
  }
  .main .shop .shop-details__heading--2 span {
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    margin-left: -11px;
    letter-spacing: 7.5px;
    margin-left: 0;
  }
  .main .shop .shop-details__heading--2::before {
    background-image: url("../img/vector.jpg");
    background-size: contain;
    width: 28px;
    height: 82px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: -46px;
  }
  .main .shop .shop-details__heading span {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    padding-top: 14px;
    margin-left: -11px;
    letter-spacing: 1.5px;
  }
  .main .shop .shop-details__heading::before {
    background-image: url("../img/vector.jpg");
    background-size: contain;
    width: 28px;
    height: 82px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: -46px;
  }
  .main .shop .shop-details__span {
    font-size: 25px;
    margin-left: 34px;
    margin-top: 20px;
    font-family: GothicA1-M;
    color: #e98e82;
  }
  .main .shop .shop-details__list {
    margin-top: 44px;
    font-size: 27px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .main .shop .shop-details__item {
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #e98e82;
  }
  .main .shop .shop-details__item::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -11px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
  .main .shop .shop-details__item:nth-child(1)::before {
    display: none;
  }
  .main .shop .shop-details__item:nth-child(2) {
    padding-left: 14px;
  }
  .main .shop .shop-details__item:nth-child(2)::before {
    background-image: url("../img/icon1.jpg");
    margin-left: -16px;
    margin-right: 4px;
  }
  .main .shop .shop-details__item--spacing {
    line-height: 37px;
  }
  .main .shop .shop-details__item:nth-child(3) {
    padding-left: 14px;
  }
  .main .shop .shop-details__item:nth-child(3)::before {
    background-image: url("../img/icon2.jpg");
    margin-left: -16px;
    margin-right: 4px;
    margin-top: 5px;
  }
  .main .shop .shop-details__item:nth-child(4) {
    padding-left: 14px;
  }
  .main .shop .shop-details__item:nth-child(4)::before {
    background-image: url("../img/icon3.jpg");
    margin-left: -16px;
    margin-right: 4px;
  }
  .main .shop .shop-details__item:nth-child(5) {
    padding-left: 14px;
  }
  .main .shop .shop-details__item:nth-child(5)::before {
    background-image: url("../img/icon4.jpg");
    margin-left: -16px;
    margin-right: 4px;
  }
  .main .shop .shop-details__btn-wrapper {
    margin-top: 37px;
  }
  .main .shop .shop-details__btn-wrapper--2 {
    margin-top: 19px;
  }
  .main .shop .shop-details__link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .shop .shop-details__link-item {
    font-size: 30px;
    margin-right: 26px;
  }
  .main .shop .shop-details__btn {
    width: 235px;
    height: 60px;
    background-color: #fff;
    color: #000000;
    font-size: 31px;
    font-family: GothicA1-M;
    border-radius: 70px;
    border: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@font-face {
  font-family: GothicA1-R;
  src: url("/assets/font/Gothic_A1/GothicA1-Regular.ttf");
}

@font-face {
  font-family: GothicA1-M;
  src: url("/assets/font/Gothic_A1/GothicA1-Medium.ttf");
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100vw;
    margin: auto;
  }
  .main__heading--hidden {
    display: none;
  }
  .main .banner {
    background: #e8f2e7;
    position: relative;
  }
  .main .banner__heading--hidden {
    display: none;
  }
  .main .banner__fig {
    position: relative;
  }
  .main .banner__fig img {
    width: 100%;
    height: 100%;
  }
  .main .banner__text {
    position: absolute;
    bottom: 40.495vw;
    font-size: 3.385vw;
    line-height: 5.859vw;
    color: #000000;
    width: 79.167vw;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 10.156vw;
    letter-spacing: -0.260vw;
  }
  .main .banner__text span {
    line-height: 6.120vw;
    letter-spacing: -0.521vw;
  }
  .main .banner__video {
    width: 90.625vw;
    height: 51.042vw;
  }
  .main .banner__video-wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 34.505vw;
    left: 4.688vw;
  }
  .main .shop__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .shop__heading--hidden {
    display: none;
  }
  .main .shop__text {
    position: absolute;
    bottom: 16.146vw;
    font-size: 3.190vw;
    line-height: 5.990vw;
    width: 76.432vw;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 12.240vw;
    letter-spacing: 0.130vw;
    color: white;
    text-align: justify;
  }
  .main .shop__text--2 {
    position: absolute;
    bottom: 13.021vw;
    font-size: 3.190vw;
    line-height: 5.990vw;
    color: #000000;
    width: 76.432vw;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    left: 12.240vw;
    text-align: justify;
  }
  .main .shop__figure img {
    width: 100%;
    height: 100%;
  }
  .main .shop__item-fig {
    position: relative;
  }
  .main .shop__item-fig img {
    width: 100%;
    height: 100%;
  }
  .main .shop__item-text__wrapper--1 {
    position: absolute;
    bottom: 11.198vw;
    left: 12.109vw;
    width: 37.500vw;
  }
  .main .shop__item-text--1 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--2 {
    position: absolute;
    bottom: 8.854vw;
    left: 12.240vw;
    width: 76.042vw;
  }
  .main .shop__item-text--2 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--3 {
    position: absolute;
    bottom: 13.151vw;
    left: 12.240vw;
    width: 76.042vw;
  }
  .main .shop__item-text--3 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--4 {
    position: absolute;
    bottom: 10.677vw;
    left: 12.240vw;
    width: 59.635vw;
  }
  .main .shop__item-text--4 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--5 {
    position: absolute;
    bottom: 8.854vw;
    left: 12.240vw;
    width: 74.740vw;
  }
  .main .shop__item-text--5 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop__item-text__wrapper--6 {
    position: absolute;
    bottom: 14.974vw;
    left: 12.240vw;
    width: 76.042vw;
  }
  .main .shop__item-text--6 {
    line-height: 5.859vw;
    font-size: 3.125vw;
    letter-spacing: -0.130vw;
    text-align: justify;
  }
  .main .shop .shop-details {
    position: relative;
  }
  .main .shop .shop-details img {
    width: 100%;
    height: 100%;
  }
  .main .shop .shop-details__wrapper {
    width: 66.016vw;
    margin: auto;
    position: absolute;
    bottom: 23.958vw;
    left: 16.927vw;
  }
  .main .shop .shop-details__wrapper--2 {
    width: 66.016vw;
    margin: auto;
    position: absolute;
    bottom: 26.042vw;
    left: 16.927vw;
  }
  .main .shop .shop-details__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 5.599vw;
    color: #e98e82;
    position: relative;
    margin-left: 5.599vw;
    font-family: GothicA1-M;
    letter-spacing: 0.521vw;
  }
  .main .shop .shop-details__heading--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3.906vw;
    color: #e98e82;
    position: relative;
    margin-left: 5.599vw;
    font-family: GothicA1-M;
    letter-spacing: 0.521vw;
    margin-bottom: 2.344vw;
  }
  .main .shop .shop-details__heading--2 span {
    font-size: 5.208vw;
    font-weight: 400;
    font-style: normal;
    margin-left: -1.432vw;
    letter-spacing: 0.977vw;
  }
  .main .shop .shop-details__heading--2::before {
    background-image: url("../img/vector.jpg");
    background-size: contain;
    width: 3.646vw;
    height: 10.677vw;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: -5.990vw;
  }
  .main .shop .shop-details__heading span {
    font-size: 3.125vw;
    font-weight: 400;
    font-style: normal;
    padding-top: 1.823vw;
    margin-left: -1.432vw;
    letter-spacing: 0.195vw;
  }
  .main .shop .shop-details__heading::before {
    background-image: url("../img/vector.jpg");
    background-size: contain;
    width: 3.646vw;
    height: 10.677vw;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: -5.990vw;
  }
  .main .shop .shop-details__span {
    font-size: 3.255vw;
    margin-left: 4.427vw;
    margin-top: 2.604vw;
    font-family: GothicA1-M;
    color: #e98e82;
  }
  .main .shop .shop-details__list {
    margin-top: 5.729vw;
    font-size: 3.516vw;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .main .shop .shop-details__item {
    padding-bottom: 1.302vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #e98e82;
  }
  .main .shop .shop-details__item::before {
    content: "";
    width: 3.125vw;
    height: 3.125vw;
    margin-left: -1.432vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
  .main .shop .shop-details__item:nth-child(1)::before {
    display: none;
  }
  .main .shop .shop-details__item:nth-child(2) {
    padding-left: 1.823vw;
  }
  .main .shop .shop-details__item:nth-child(2)::before {
    background-image: url("../img/icon1.jpg");
    margin-left: -2.083vw;
    margin-right: 0.521vw;
  }
  .main .shop .shop-details__item--spacing {
    line-height: 4.818vw;
  }
  .main .shop .shop-details__item:nth-child(3) {
    padding-left: 1.823vw;
  }
  .main .shop .shop-details__item:nth-child(3)::before {
    background-image: url("../img/icon2.jpg");
    margin-left: -2.083vw;
    margin-right: 0.521vw;
  }
  .main .shop .shop-details__item:nth-child(4) {
    padding-left: 1.823vw;
  }
  .main .shop .shop-details__item:nth-child(4)::before {
    background-image: url("../img/icon3.jpg");
    margin-left: -2.083vw;
    margin-right: 0.521vw;
  }
  .main .shop .shop-details__item:nth-child(5) {
    padding-left: 1.823vw;
  }
  .main .shop .shop-details__item:nth-child(5)::before {
    background-image: url("../img/icon4.jpg");
    margin-left: -2.083vw;
    margin-right: 0.521vw;
  }
  .main .shop .shop-details__btn-wrapper {
    margin-top: 4.818vw;
  }
  .main .shop .shop-details__btn-wrapper--2 {
    margin-top: 2.474vw;
  }
  .main .shop .shop-details__link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .shop .shop-details__link-item {
    font-size: 3.906vw;
    margin-right: 3.385vw;
  }
  .main .shop .shop-details__btn {
    width: 30.599vw;
    height: 7.813vw;
    background-color: #fff;
    color: #000000;
    font-size: 4.036vw;
    font-family: GothicA1-M;
    border-radius: 9.115vw;
    border: 0.130vw solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

img {
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */